.header {
  transition: opacity .5s;
  background: #fff;
}

.logo {
  width: 140px;
  height: 64px;
  line-height: 64px;

  img {
    width: 40px;
    height: 64px;
    line-height: 64px;
  }

  span {
    float: right;
    font-size: 16px;
    height: 64px;
    line-height: 64px;
  }
}

.content {
  width: 730px;
  margin: 20px auto;
  padding: 24px;
  border-radius: 4px;
  background: #fff;
}
